@charset "UTF-8";

/* --------------------------- */
/* -------- signup.jsp -------- */
/* --------------------------- */
.signup-nav {
	border: 1px solid green;
	border-radius: 8px;
	padding: 10px 12px;
	margin: 28px 0;
	text-align: center;
	font-size: 16px;
}

/* フォーム全体 */
#signup-form {
	width: 100%;
}

.logins {
	display: block;
	position: relative;
	margin-bottom: 7px;
	padding-left: 12px;
	font-size: 15px;
}

.logins::before {
	content: "";
	width: 6px;
	height: 28px;
	background-color: green;
	position: absolute;
	left: 0;
	top: 0;
}

.logins-bottom {
	margin-bottom: 16px;
}

/* 注意事項 */
.input-note {
	display: block;
	margin-top: 3px;
	margin-bottom: 5px;
	font-size: 11px;
	color: #333;
}

/* 入力欄 */
.signup-input {
	width: 100%;
	margin: 1px 0 20px 0;
	box-sizing: border-box;
	border-radius: 8px;
	border: 1px solid green;
	padding: 6px 10px;
	font-size: 14px;
	background-color: #ffffff;
}

/* 入力中 */
.signup-input:focus {
	outline: none;
	border: 2px solid green;
}

/* ボタンエリア */
.form-buttons {
	display: flex;
	justify-content: right;
	gap: 28px;
}

/* 会員登録画面-ボタンたち */
.reset-button,
.signup-button {
	width: 144px;
	height: 40px;
	border-radius: 6px;
	cursor: pointer;
	background-color: green;
	color: white;
	border: 1px solid green;
	font-weight: 450;
	font-size: 14px;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
	transition: 0.2s;
}

.reset-button:hover,
.signup-button:hover {
	background-color: #ffffff;
	color: green;
	border-color: green;
}

/* 新規登録・ログインリンク */
.acount-msg {
	text-decoration: none;
	font-size: 12px;
	display: block;
	text-align: right;
	color: blue;
	margin: 24px 0 0 8px;
}

.acount-msg:visited {
	color: blue;
	text-decoration: none;
}

.acount-msg:hover {
	text-decoration: none;
	color: #1d6fb8;
	text-shadow: #333;
}

/* --------------------------- */
/* -------- login.jsp -------- */
/* --------------------------- */

/* フォーム全体 */
#login-form {
	width: 100%;
}

#login-label-top {
	margin-top: 101px;
}

/* 入力欄 */
.login-input {
	width: 100%;
	margin: 12px 0 20px 0;
	box-sizing: border-box;
	border-radius: 8px;
	border: 1px solid green;
	padding: 6px 10px;
	font-size: 14px;
	background-color: #ffffff;
}

/* 入力中 */
.login-input:focus {
	outline: none;
	border: 2px solid green;
}

/* 次回以降自動ログインボタン */
.auto-login {
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 4px;
	margin: 16px 0 12px;
	font-size: 14px;
}

.auto-login input {
	width: 16px;
	height: 16px;
}

/* ログインボタン */
.login-button {
	width: 100%;
	height: 48px;
	border-radius: 6px;
	cursor: pointer;
	background-color: green;
	color: white;
	border: 1px solid green;
	font-weight: 450;
	font-size: 107%;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
	transition: 0.2s;
}

.login-button:hover {
	background-color: #ffffff;
	color: green;
	border-color: green;
}
/* エラーメッセージ */
.error-message {
	height: 18px;
	margin: 12px 0 12px 0;
	color: red;
	text-align: center;
	font-size: 13px;
	line-height: 18px;
	background-color: #ffffff;
}

/* --------------------------- */
/* -------- mypage.jsp -------- */
/* --------------------------- */

/*ボタンを表示するエリア(ナイトモード) */
.sample2Area {
	width: 100px; /* ボタンの横幅       */
}

/*チェックボックス*/
.sample2Area input[type="checkbox"] {
	display: none; /* チェックボックス非表示 */
}

/*チェックボックスのラベル（標準)*/
.sample2Area label {
	display: block; /* ボックス要素に変更 */
	box-sizing: border-box; /* 枠線を含んだサイズ */
	text-align: left; /* 文字位置は中央     */
	border: 2px solid #78bd78; /* 枠線               */
	border-radius: 3px; /* 角丸               */
	line-height: 1; /* 1行の高さ          */
	height: 40px; /* ボタンの高さ       */
}

/* 移動BOX（標準）*/
.sample2Area #sample2box {
	display: inline-block;
	height: 36.5px; /* ボタンの高さ       */
	width: 50%; /* ボタンの高さ       */
	background: #ddd; /* 背景色             */
	transition: .3s; /* ゆっくり変化       */
}

/* ON側のチェックボックスの移動BOX（ONのとき)*/
.sample2Area #sample2check:checked+label #sample2box {
	transform: translateX(100%); /* BOXを右に移動      */
	background: #78bd78; /* 背景色             */
}

/* マイページ全体 */
.mypage {
	padding: 8px 12px 16px;
}

.mypage section {
	border-bottom: 1px solid #008040;
	padding-bottom: 12px;
	margin-bottom: 12px;
	padding-bottom: 12px;
	margin-bottom: 12px;
}

.mypage section:last-of-type {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

/* プロフィール　枠 */
.profile-edit {
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #008080;
	padding: 10px 12px;
	padding-bottom: 0;
	margin-bottom: 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
	margin-left: 23px;
	margin-right: 23px;
	border-bottom: none;
}

.profile {
	font-weight: 600;
}

/* 名前とIDの表示 */
.user-id, .nickname {
	margin: 12px 0 4px 30px;
	font-weight: 450;
}

.user-id div, .nickname div {
	border: 1px solid #008080;
	padding: 6px 12px;
	border-radius: 8px;
	width: 200px;
	margin: 0 auto;
	text-align: center;
	background-color: #fafafa;
}

/* 編集ボタン */
.profile-edit input[type="submit"] {
	background-color: green;
	color: white;
	border: 1px solid green;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	padding: 8px 14px;
	font-size: 14px;
	outline: none;
	margin-top: 10px;
}

.profile-edit form {
	margin-left: auto;
	width: fit-content;
	margin-right: 6px;
}

/* ナイトモード */
.night-mode {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-left: 23px;
	margin-right: 23px;
	font-weight: 600;
}

.sample2Area {
	margin-left: auto;
}

/* 他言語機能 */
.multilingual-feature {
	display: flex;
	align-items: center;
	margin-left: 23px;
	margin-right: 23px;
	font-weight: 600;
}

.pull-input {
	margin-left: auto;
	width: 100px;
	text-align: center;
}

/* アラート機能 */
.alert-setting {
	margin-left: 23px;
	margin-right: 23px;
}

.alert {
	font-weight: 600;
}

/* 各行を横並びにして整列 */
.alert-setting .alert-money, .alert-setting .alert-number {
	display: flex;
	align-items: center;
	gap: 6px; /* ラベルと入力欄の間の余白 */
	margin-top: 6px;
	margin-left: auto;
	justify-content: flex-end;
}

/* 入力欄の幅調整（必要なら） */
.alert-setting input[type="text"], .alert-setting input[type="number"] {
	width: 120px;
	padding: 4px 6px;
	border: 1px solid #008080;
	border-radius: 4px;
}

/* 着せ替え機能 */
.dress-up {
	font-weight: 600;
	gap: 10px;
	margin-left: 23px;
	margin-right: 23px;
}

.dress-up button {
	flex: 1;
	width: 21%;
	height: 40px;
	border-radius: 12px;
	border: 1px solid #ccc;
	margin: 10px 4px;
	cursor: pointer;
	margin: 6;
}

.dress-up button:nth-of-type(1) {
	background-color: #80ff80;
}

.dress-up button:nth-of-type(2) {
	background-color: #80ffff;
}

.dress-up button:nth-of-type(3) {
	background-color: #ff75ff;
}

.dress-up button:nth-of-type(4) {
	background-color: #f5ad5c;
}

/* ログアウト */
.logout {
	font-weight: 600;
}

.logout-user {
	margin-left: 23px;
	margin-right: 23px;
}

.logout-user form {
	margin-left: auto;
	width: fit-content;
}

.logout-user input[type="submit"] {
	color: white;
	font-weight: 550;
	flex: 1;
	border: 1px solid #ccc;
	border-radius: 16px;
	padding: 8px 14px;
	font-size: 14px;
	color: f2f2f2;
	outline: none;
	background-color: green;
}

/* --------------------------- */
/* -------- mypage.jsp -------- */
/* --------------------------- */
.edit-button {
	width: 95px;
	height: 40px;
	border-radius: 6px;
	cursor: pointer;
	background-color: green;
	color: white;
	border: 1px solid green;
	font-weight: 450;
	font-size: 14px;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
	transition: 0.2s;
}

.edit-button:hover {
	background-color: #ffffff;
	color: green;
	border-color: green;
}

.progfile-edit-nav {
	text-align: left;
	font-weight: bold;
	margin: 8px auto;
}

.profile_edit_area {
	width: 340px;
	margin: 10px auto;
	background-color: white;
	border: 1px solid green;
	padding: 12px;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
	border-radius: 32px;
	display: flex;
	align-items: center;
	gap: 12px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	gap: 12px;
}

.profile-edit-form {
	width: 230px;
	margin: 10px auto;
}

.edit-input {
	width: 100%;
	margin: 1px 0 20px 0;
	box-sizing: border-box;
	border-radius: 8px;
	border: 1px solid green;
	padding: 6px 10px;
	font-size: 14px;
	background-color: #ffffff;
}

.form-buttons {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 35px;
	margin-top: 4px;
}